.email-preview{
    /* flex-wrap: wrap; */

    /* justify-content:space-between ; */
    /* margin-bottom: 5px; */
    /* padding: 3px; */
    padding:4px;
    box-shadow:inset 0px -1px 0px 0px rgb(211, 211, 211);
    /* flex-shrink: 1; */
    
}
.email-preview .grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.email-preview:hover{
    box-shadow:inset 0px 0px 0px 1px black;
background-color: rgb(234, 245, 255);
/* background-color: rgb(62, 115, 149,0.20); */

}


.read{
    /* background-color: beige; */
font-weight: normal;
}

.email-preview div:first-child{
    /* min-width: fit-content; */
    /* flex:2; */
}

.email-preview div:nth-child(2){
    /* min-width: fit-content; */
    /* min-width:fit-content; */
    /* flex:7; */

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* width: 60px; */
    
}
.email-preview .email-body-inlist{
    font-weight:normal;
    color:rgb(168, 167, 167)

}
.email-preview .date-and-buttons{
    display: flex;
    justify-content: flex-end;
    /* flex:2; */
    /* min-width: fit-content; */
    /* text-align: right; */
    /* text-align: right; */
    position: relative;
    /* width:fit-content; */
}

.email-preview .email-buttons{
    /* text-align: right; */
    /* text-align: center; */
    /* width: 100%; */
    display:flex;
    /* justify-content: space-evenly; */
    /* width:fit-content; */
    /* width:54px; */
    /* justify-content: center; */
    position: absolute;
    gap:0.5rem;
    /* right:0 */
    right:0.5rem;
    /* left:50%; */
    /* left:-50%; */
    /* left:0; */
    /* transform: translateX(-50%); */
    top:-3px;
    background-color:inherit;
    border-radius: 3rem;
}

.email-preview .email-buttons button{
    border:0;
    border-radius: 3rem;
    /* text-align: center; */
    cursor: pointer;
    /* padding: 0; */
    height: 27px;
width:27px
}

.email-preview .email-buttons button:first-child:hover{
background-color: lightgray;
}
.email-preview .email-buttons button:last-child:hover{
background-color: rgb(255, 112, 112);
}