.email-preview{
    display: flex;
    justify-content:space-between ;
    /* margin-bottom: 5px; */
    padding: 3px;
    
}

.email-preview:hover{
    box-shadow:inset 0px 0px 0px 1px black;
background-color: beige;
}


.email-preview .read{
    background-color: rgb(255, 255, 255);
}