* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body {
    margin: 0;
    /* font-family: OpenSans-Regular; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    /* color: rgb(243, 212, 212); */
    color: inherit;
}

html {
    font-family: OpenSans-Regular;
}

textarea {
    resize: none;
}

pre {
    display: block;
    font-family: inherit;
    white-space: pre;
    margin: 0;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.fa-save {
    margin: 0 10px 5px 0;
}