.app-header {
    height: 10vh;
    background-color: rgb(62, 115, 149);
    color: rgb(250, 250, 250);
    padding: 1rem;
    font-family: OpenSans-Bold;
}

.app-header img {
/* width: 100px; */
height: 10vh;
}
