.keep-filter {
    width: 60vw;
    border-radius: 10px;
    border: 1px gray solid;
    margin: auto;
    font-family: OpenSans-Bold;
}

.keep-filter input {
    background-color: unset;
    border: unset;
    margin-left: 10px;
}