.keep-preview {
    /* border: 1px solid black;
    border-radius: 5px; */
    /* margin: 15px; */
    padding: 20px;
    height: 100%;
    width: 100%;
    /* background-color: rgba(251, 219, 33, 0.288); */
}