@import '../pages/email-details.css';
@import '../cmps/email-compose.css';
@import '../cmps/email-list.css';
@import '../cmps/email-preview.css';
@import '../cmps/email-filter.css';

*:focus {
    outline:none;
}


.email-app{
    /* gap:20px */
}

.email-app nav{
    padding-top:0.2rem;
/* padding: 0 2rem; */
}
.email-app nav ul{
width: 230px;
}
.email-app nav div:first-child{
text-align: center;
}


.email-app nav button{
    width:90%;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: rgb(85, 165, 214);

    border-radius: 0.4rem;
    color: white;
    font-family: OpenSans-Bold;

}

.email-app nav li {
    padding:4px;

}

.email-app nav ul li:hover{
background-color: rgb(250, 250, 250);
}

.email-app nav ul li span{
padding-left: 0.8rem;
}


/* EMAILS HELPERS */

.email-children-layout{
    width:100%;
    background-color: rgb(254, 255, 255);
    
    /* flex: 7; */
}




@media (max-width: 601px) {
    .email-app nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        background-color: #fff;
        background-color: rgb(255 255 255 / 90%);
        width: 200px;
        transform: translateX(100%);
        transition: transform .6s;
    }

}

@media (max-width: 400px) {
    .email-preview div:nth-child(2){
            order:1;
    }
}

    
    /* body.menu-open .main-nav {
        transform: translateX(0);
    }

    .main-header .main-nav>*:not(:last-child) {
        margin-inline-end: 0;
    }
    .main-header .main-nav a {
        display: block;
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .main-header .main-nav a:hover {
        background-color: #f3f3f3;
    } */

