@import '/css/apps/email/pages/email-details.css';

@import '/css/apps/email/cmps/email-compose.css';
@import '/css/apps/email/cmps/email-list.css';
@import '/css/apps/email/cmps/email-preview.css';



.email-app{
    /* gap:20px */
}

.email-app nav{
/* padding: 0 2rem; */
}
.email-app nav ul{
width: 230px;
}

.email-app nav ul li:hover{
background-color: rgb(250, 250, 250);
}

.email-app nav ul li span{
padding-left: 0.8rem;
}


/* EMAILS HELPERS */

.email-children-layout{
    width:100%;
    background-color: rgb(191, 223, 224);
    
    /* flex: 7; */
}

