.home-page {
    /* background-image: url("/img/ap.png"); */
    height: 80vh;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.home-page {
    justify-content: center;
    align-items: center;
}

/* .home-page img{
    width: 100%;
} */

.home-page .welcome {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items:flex-end; */
    /* min-width: 400px; */
    min-width: 400px;
    height: fit-content;
    /* background-color: rgb(210, 223, 247); */
    border-radius: 25px;
}

.home-page .welcome .logo {
    text-align: center;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.home-page .welcome .logo img {
    width: 300px;
}

.home-page .welcome .links {
    justify-content: space-evenly;
}

.home-page .welcome .links div {
    /* background-color: cornsilk; */
    padding: 10px;
    /* height: 200px; */
    width: 100px;
    border-radius: 25px;
}

.home-page .welcome .links div :hover {
    cursor: pointer;
    /* transform: scale(1.05); */
    transform: scale(1.15);
    transition: transform 0.3s, box-shadow 0.3s;
    /* box-shadow: -3px 3px 8px 2px rgb(0, 0, 0, 0.60);
    -webkit-box-shadow: -3px 3px 8px 2px rgb(0, 0, 0, 0.60);
    -moz-box-shadow: -3px 3px 8px 2px rgb(0, 0, 0, 0.60); */
}

.home-page .welcome .links div img {
    width: 100%;
}